// globals
@brand-primary: #47b1d0;
@brand-secondary: #fff;

// fonts
@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 14px;

// sizes
@footer-height: 100px;

// body
@body-background: @brand-secondary;

// circle button
@button-size: 50px;
@button-margin: (@footer-height - @button-size) / 2 20px 0;
@button-border-radius: 50%;
@button-background: @brand-primary;
@button-background-hover: @brand-secondary;
@button-color: @brand-secondary;
@button-color-hover: @brand-primary;
@button-transition: all 250ms linear;

// paging
@paging-padding-top: (@footer-height - @paging-item-size) / 2;

// paging-item
@paging-item-margin: 0 2px;
@paging-item-size: 30px;
@paging-item-border-size: 1px;
@paging-item-border-radius: 50%;
@paging-item-color: @brand-primary;
@paging-item-color-active: @brand-secondary;
@paging-item-font-weight: normal;
@paging-item-font-size: @font-size-base;

// slide title
@slide-title-line-height: @footer-height;
@slide-title-color: @brand-primary;
@slide-title-pos-left: 100px;
@slide-title-pos-top: 0;

// navigation
@navigation-height: @footer-height;
@navigation-background: @brand-secondary;
@navigation-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
@navigation-z-index: 7;
@navigation-pos-bottom: 0;
@navigation-pos-left: 0;
@navigation-pos-right: 0;

// slide 
@slide-transition: all 500ms linear;
@slide-visible-animation-name: fadeIn;
@slide-visible-animation-duration: 1s;
@slide-img-margin: 0 auto @footer-height auto;
@slide-left-img-margin: 0;