// globals
@brand-primary: #e43a21;
@brand-secondary: #fff;

// base
@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 14px;

// body
@body-background: @brand-secondary;

// circle button
@button-size: 30px;
@button-margin: 7px 20px 0;
@button-border-radius: 50%;

// paging
@paging-padding-top: 18px;

// paging-item
@paging-item-margin: 0 2px;
@paging-item-size: 10px;
@paging-item-border-size: 1px;
@paging-item-border-radius: 50%;
